body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;

    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Ocultar conteúdo além da altura especificada */
}

header{
  background-image: linear-gradient(to left, #1e1e1e, #1e1e1e);
  margin-top: 0px;
  padding: 10px 0px;
  font-family: "Katahdin Round";
}
.logo-space{
  width: 200px;

  margin: -45px 450px -45px 100px;
}
main{
                  
  width: 100%; /* Defina a largura desejada para o slideshow */
  height:750px; /* Defina a altura desejada para o slideshow */
  
  position: relative; /* Permitir posicionamento absoluto dos slides */
  display: flex;
  flex-direction: column;

}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.topo-tags{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  font-size: 14px;
}
.topo-tags a {
  margin: 0px 25px;


  color: #FFF;
  text-decoration: none;
}
.topo-tags h3{
  margin: -3px 0px;
}
.topo-tags a:hover{
transform: scale(1.1);  
color: #01aa01;
}
.botton{
  background-color: #FFF;
  background-size: 200% 100%;
  background-position: 50% 50%;
  transition: background-position 0.5s;


  border-radius: 35px 35px;
  transition: scaleUp 0.3s ease-in-out;
}
.orcamento h3{
  margin: -20px 10px;
  color: #1e1e1e;
}

.botton:hover{
  transform: scale(1.2);
  animation: scaleUp 0.3s ease-in-out;
  margin-left: 30px;

  background-color: #01aa01;
  background-position: 100% 0%;
}
@keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
.orcamento h3:hover{
  color: white;
}




  /* planos styling */
  .planos {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;

    --animation-color: rgb(103, 0, 151);
    --fs-size: 40px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    width: 100%;
  
    margin: 50px 0px 50px 0px;
  }
  /* this is the text, when you hover on planos */
.hover-text-planos {
  font-family: "Katahdin Round";
  font-weight: 100;

  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 100%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  filter: drop-shadow(0 0 23px var(--animation-color));
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
  
  /*planos title*/
  .planos-title-pacotes{
    font-family: "Katahdin Round";
    font-weight: 100;

    font-size: 36px;
    text-align: center;
    color:rgb(0, 35, 151);

    margin-bottom: 30px;
  }

  /*planos*/
  .planos-conteudo .planoss{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .planos-conjunto{
    display: flex;
    flex-direction: row;

    height: 580px;
  }
  
  
  .container-planos{
    --border-radius: 25px;
    --border-width: 4px;
    margin: 20px 29px;
    width: 250px;
    appearance: none;
    position: relative;
    border: 0;

    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  .container-planos::after{
      --m-i: linear-gradient(#000, #000);
      --m-o: content-box, padding-box;
      content: "";
      position: absolute;
      left: -4px;
      top: -4px;
      width: 100%;
      height: 100%;
      padding: var(--border-width);
      border-radius: var(--border-radius);
      background-image: conic-gradient(
        rgba(0, 35, 151, 0.3), 
        rgb(0, 35, 151),
        rgb(103, 0, 151),
        rgba(103, 0, 151, 0.3)
       );
      -webkit-mask-image: var(--m-i), var(--m-i);
      mask-image: var(--m-i), var(--m-i);
      -webkit-mask-origin: var(--m-o);
      mask-origin: var(--m-o);
      -webkit-mask-clip: var(--m-o);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
      filter: hue-rotate(0);
      animation: rotate-hue linear 500ms infinite;
      animation-play-state: paused;
  }
  .container-planos:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  }

  .planos-title{
    border-bottom: 3px solid #2d056d;
    padding: 15px 10px;
    margin: -1px -1px;

    background-image:radial-gradient(
        rgb(0, 35, 151),
        rgb(103, 0, 151)
       );
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    text-align: center;
  }
  .title-pacotes{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 24px;

    margin-top: 10px;
  }
  .valor-pacote{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 42px;

    margin: 10px 0px 0px 0px;
  }
  .parcelamento{
    color: white;
    font-family: sans-serif;
  }
  .text-primeiro{
    margin: 10px 5px 30px 0px;
  }
  .lista-dados-pacotes{
    padding-bottom: 30px;
    font-family: sans-serif;

    width: 180px;
  }

  

  /*planos individuais*/
  
  /*planos title*/
  .plano-individual-title-pacotes{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    background: linear-gradient(to right, 
        rgb(252, 216, 108),
        rgb(221, 169, 13),
        rgb(177, 134, 8)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    margin-bottom: 30px;
    margin-top: 50px;
  }

  /*planos*/
  .planos-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .conjunto-planos-individuais{
    display: flex;
    flex-direction: row;

    height: 530px;
  }


  
  .container-planos-individuais{
    --border-radius: 20px;
    --border-width: 4px;
    margin: 30px 29px;
    width: 250px;
    appearance: none;
    position: relative;
    border: 0;

    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  .container-planos-individuais::after{
      --m-i: linear-gradient(#000, #000);
      --m-o: content-box, padding-box;
      content: "";
      position: absolute;
      left: -4px;
      top: -4px;
      width: 100%;
      height: 100%;
      padding: var(--border-width);
      border-radius: var(--border-radius);
      background-image: conic-gradient(
        rgb(239, 184, 16),
        rgb(238, 193, 58),
        rgb(177, 134, 8),
        rgb(255, 191, 0)
       );
      -webkit-mask-image: var(--m-i), var(--m-i);
      mask-image: var(--m-i), var(--m-i);
      -webkit-mask-origin: var(--m-o);
      mask-origin: var(--m-o);
      -webkit-mask-clip: var(--m-o);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
      filter: hue-rotate(0);
      animation: rotate-hue linear 500ms infinite;
      animation-play-state: paused;
  }
  .container-planos-individuais:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  }

  
  .plano-individuais-dois{
    transform: scale(1.1);
  }
  .plano-individuais-dois:hover{
    transform: scale(1.15);
  }


  .plano-title-individual{
    border-bottom: 3px solid rgb(239, 184, 16);
    padding: 15px 10px 5px 10px;
    margin: -1px -1px;

    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    text-align: center;
  }
  .title-pacotes-individuais{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 24px;

    margin-top: 10px;
  }

  /*imgs de fundo*/

  /*img de fundo web-developer*/
  .plano-individuais-um{
    background-image: url('IMG-WEV_DEVELOPER.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  /*background pacotes individuais*/
  .conteudo-web-developer-background{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 0px 55px 0px;

    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  /*img de fundo sessão de fotos*/
  .plano-individuais-dois{
    background-image: url('IMG-SESSÂO-DE-FOTOS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  /*background pacotes individuais*/
  .conteudo-sessao-fotos-background{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 0px 50px 0px;

    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
  }

  /*img de fundo sessão de fotos*/
  .plano-individuais-tres{
    background-image: url('IMG-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  /*background pacotes individuais*/
  .conteudo-design-background{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 0px 195px 0px;

    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
  }


  /*valor pacote*/
  .valor-pacote-individual{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 42px;
  }
  .valor-pacote-individual-hora{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 42px;

    position: relative;
    bottom: 10px;
  }

  /*parcelamento*/
  .parcelamento-plano-individual{
    color: white;
    font-family: sans-serif;
  }
  .parcelamento-plano-individual-quantidade{
    color: white;
    font-family: sans-serif;
    
    position: relative;
    left: -30px;
  }

  /*p span parcelamento*/
  .span{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 28px;
  }

  /*planos paragrafos*/
  .list-planos-individual{
    color: white;
    margin: 10px 20px 0px 0px;
    font-family: sans-serif;
    line-height: 20px;
  }
  .list-planos-individual p{
    text-align: justify;
    margin: 10px 5px 10px -15px;
  }
  .text-planos-individuais{
    color: white;
    margin: 0px 20px 0px 20px;
    font-family: sans-serif;
    line-height: 20px;
    text-align: justify;
  }
  .parcelamento-plano-individual-hora{
    color: white;
    font-family: sans-serif;

    position: relative;
    bottom: 5px;
  }